<header>

      <div class="header-image-container">
        <img src="psb.jpg" alt="Movie logo">
      </div>

      <h1 class="site-title"><a href="/">Movie Site</a></h1>
      <h5 class="site-information"><a href="/">Ticket information</a></h1>

</header>
